<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.namviet.vtvtravel">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>


    <!--    <uses-permission android:name="android.permission.SEND_SMS"/>-->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" android:host="*" />
        </intent>
    </queries>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:allowBackup, android:roundIcon">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:launchMode="singleTask"
            android:name=".view.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

            <intent-filter android:autoVerify="true">
                <action android:name="com.namviet.vtvtravel" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />


                <!--                <data-->
                <!--                    android:host="travel1.onex.vn"-->
                <!--                    android:pathPrefix="/"-->
                <!--                    android:scheme="http" />-->

                <!--                <data-->
                <!--                    android:host="travel1.onex.vn"-->
                <!--                    android:pathPrefix="/"-->
                <!--                    android:scheme="https" />-->

                <!--                <data-->
                <!--                    android:host="m1.travel.onex.vn"-->
                <!--                    android:pathPrefix="/"-->
                <!--                    android:scheme="https" />-->

                <!--                <data-->
                <!--                    android:host="m1.travel.onex.vn"-->
                <!--                    android:pathPrefix="/"-->
                <!--                    android:scheme="http" />-->

                <data
                    android:host="vtvtravel.com"
                    android:pathPrefix="/"
                    android:scheme="vtvtravel" />

            </intent-filter>


            <intent-filter>
                <action android:name="vn.vtv.vtvtravel" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>


        </activity>


        <activity
            android:name=".view.f2.LoginAndRegisterActivityNew"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>


        <activity
            android:name=".view.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.GalleryActivity">
            <intent-filter>
                <action android:name="luminous.ACTION_PICK" />
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="@string/google_maps_api_key" />-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".view.BaseCameraActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- The below code is for android OS version below N -->
        <receiver
            android:name=".receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.example.app.CastOptionsProvider" />
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="WXpAaDLEYSUOCazLybgqvCWcNYaQ/3m2H+mOUhKD+GAC3i5y" />

        <activity
            android:name=".view.PlayListVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".view.f2.TravelNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f3.commingsoon.view.ComingSoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.CommentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.f2.BigLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.SmallLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.f2.ImagePartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.DetailVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".view.f2.TagVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.SlideImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.DetailDealWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.UserInformationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.f2.UserInformationEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.TopExperienceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.NearbyExperienceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.MyGiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.VQMMWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.LiveTVActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".view.fragment.f2service.ServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.f2oldbase.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.f2oldbase.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.FullVideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.f2.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.f2.TravelVoucherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.f2oldbase.TreeChatBotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.f2oldbase.FormChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.f2oldbase.LiveTVActivityOld"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.WebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.HighLightSeeMoreVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.f2.SystemInboxActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.f2.IntroductionActivity">


        </activity>

        <activity android:name=".view.f2.SplashActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.f2.SearchActivity" />
        <activity android:name=".view.f2.CreateTripActivity" />
        <activity android:name=".view.f2.MyTripActivity" />
        <activity android:name=".view.f2.HistoryLuckyWheelActivity" />
        <activity android:name=".view.f2.ReceiveInviteTripDetailActivity" />
        <activity android:name=".view.f2.DisplayMarkerForMapActivity" />
        <activity android:name=".view.f2.ReviewChatActivity" />

        <activity android:name=".view.f2.ReceiverCallActivity" android:excludeFromRecents="true"/>
        <activity android:name=".view.f2.OperatorWebRTCCallActivity" />



        <activity android:name=".view.f2.OperatorInformationActivity" >

        </activity>

        <activity android:name=".view.f2.virtualswitchboard.VirtualSwitchBoardActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.f2.ShareActivity" />
        <activity android:name=".view.f2.RuleActivity" />
        <activity android:name=".view.CallActivity" />
        <activity android:name=".view.f2.landingpage.LandingPageActivity" />


        <service android:name=".service.TrackLocationService" />

        <service android:name=".service.InCallForegroundService" />
        <service android:name=".service.GPSTracker" />

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3459722054810147~6205999222"/>

        <activity android:name=".view.f3.floor.view.FloorActivity" />
        <activity android:name=".view.f3.smalllocation.activities.NearByExperienceActivity" />

        <activity android:name=".view.f3.booking.view.BookingActivity" />
        <activity android:name=".view.f3.notification.view.NotificationActivity" />
    </application>

</manifest>